/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&&family=Roboto:wght@200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project style */
    color: #3a3a3a;
    font-family: 'Roboto Condensed', sans-serif;

}

h1,
h2,
h3 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: -2px;
    color: #252525;
    text-align: center;
}

.hidden-heading {
    display: none;
}


.active {
    border-bottom: 1px solid #3a3a3a;
}

/*Header */
header {
    background-color: #ffffff;
    padding: 0.5rem 1rem 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
}

/* Header with descendant a */
header a {
    text-decoration: none;
    color: inherit;
}

header li {
    display: inline;
    padding: 2px 10px;
}

#menu {
    list-style-type: none;
    padding: 2px;
    color: #1f1f1f;
    font-size: x-large;
    letter-spacing: 4px;
    flex-direction: row;
    text-align: center;
    margin-bottom: 0.5em;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
    left: 0px;
}

#nav-toggle {
    display: none;
}

/* Nav taoggle*/
#nav-toggle:checked~nav {
    display: block;
}

.nav-toggle-label {
    font-weight: bold;
    font-size: x-large;
}

main {
    /* Make main element take any surplus place left */
    flex: 1 0 auto;
    margin-top: 47px;
}

#hero {
    height: 600px;
    width: 100%;
    background: url("../img/hero-image.webp") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    background-color: rgba(241, 109, 107, .7);
    font-size: 120%;
    position: absolute;
    width: 80%;
    bottom: 30px;
    min-height: 150px;
    padding: 20px 0 0 20px;
}

#cover-text>h2,
#cover-text>h3 {
    color: #ffffff;
    text-align: left;
}

#reasons {
    margin: 20px auto;
    width: 90%;

}

#reasons h2 {
    font-size: 280%;
    text-transform: uppercase;
}

#reasons hr {
    border-top: 1px solid #3a3a3a;
}

#reasons h3 {
    text-align: left;
    text-justify: distribute;
    letter-spacing: 2px;
}

#benefits-physical>div,
#benefits-mental>div {
    margin-bottom: 20px;
}

#benefits-physical p,
#benefits-mental p {
    padding: 0 5px;
    text-align: justify;
}

#benefits-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

#circle-cover-bg {
    background: url(../img/reasons-image.webp) no-repeat top center/cover;
    width: 90vw;
    height: 90vw;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

#meetup-times h2,
#meetup-times h3 {
    text-align: start;
}

#times {
    background: url(../img/dublin-city.webp) no-repeat center/cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#times div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    text-align: center;
    flex-basis: 200px;
    flex-grow: 1;
    border: #ffffff 2px solid;
}

#times h3 {
    color: #fafafa;
    text-align: center;
}

/* Gallery */
#photos img {
    width: 100%;
    line-height: 0;
}

#photos {
    line-height: 0;
}

/* Signup */

#main-signup {
    flex: 1 0 auto;
    margin-top: 47px;
    display: flex;
    flex-direction: column;
}

#signup {
    padding: 20px 10%;
    background: url(../img/signup/signup-image.webp) no-repeat center top/cover;
    flex-grow: 1;
    background-position: 75%;
}

#signup-form>h2 {
    text-align: start;
    letter-spacing: 1.5px;
    color: #fafafa;
}

#signup-form {
    color: #ffffff;
    padding: 30px;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;

}

#signup-form > label{
    display: flex;
    align-items: flex-start;
    font-size: small;
    letter-spacing: 1px;
}

.text-input{
    background: transparent;
    color:#fafafa;
    border: 1px solid #fafafa;
    width: 100%;
    height: 25px;
    border-radius: 2px;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 0 5px;
}

.radio-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.join-button {
    border-radius: 5px;
    background-color: #454b1b;
    color: #fafafa;
    padding: 15px 32px;
    margin-top: 20px;
}



footer {

    padding: 0.5rem 0 0.5rem 0;
    display: flex;
    width: 100vw;
    justify-content: space-evenly;


}

footer li {
    display: inline;
    list-style-type: none;
    margin: 0 1rem 0 1rem;
    font-size: 200%;
    color: #2a2a2a;
}

footer a {
    text-decoration: none;
    padding: 2px 0;
}


/* Media query: small notebooks and larger (576px and up) */
@media screen and (min-width: 576px) {
    #photos {
        column-count: 2;
        column-gap: 0;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 300%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    main {
        margin-top: 84px;
    }

    #benefits-physical,
    #benefits-mental {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #benefits-physical>div,
    #benefits-mental>div {
        width: 75%;
    }

    #benefits-physical>div,
    #benefits-physical h3,
    #benefits-physical p {
        text-align: start;
        align-self: flex-start;
    }

    #benefits-mental>div,
    #benefits-mental h3,
    #benefits-mental p {
        text-align: end;
        align-self: flex-end;
    }

    #photos {
        column-count: 4;
    }

    #signup {
        background-position: center;
        position: relative;
    }
    #signup-form {
        position: absolute;
        left: 10%;
        top: 150px;
        max-width: 400px;
    }
    #text-input:hover {
        border-color: #f16c6b;
    }
    #join-button:hover {
        background-color: #fafafa;
        color: #454b1b;
    }

}


/* Media query: small notebooks and larger (992px and up) */
@media screen and (min-width: 992px) {
    nav a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    #cover-text {
        left: 200px;
        width: 40%;
    }
}

/* Media query: small notebooks and larger (1200px and up) */
@media screen and (min-width: 1200px) {

    #benefits {
        display: flex;
        flex-direction: row;
    }

    #benefits>div {
        flex: 1;
    }

    #benefits-mental {
        order: 1;
    }

    #benefits-physical,
    #benefits-mental {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #benefits-physical>div,
    #benefits-physical h3,
    #benefits-physical p {
        text-align: start;
        align-self: flex-start;
    }

    #benefits-mental>div,
    #benefits-mental h3,
    #benefits-mental p {
        text-align: end;
        align-self: flex-end;
    }

    #benefits-image {
        order: 0;
        align-self: center;
    }

}